# Ignore virtual environment directories
venv/
.venv/
# Ignore build directories
build/
dist/
# Ignore Python package directories
*.egg-info/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log files
*.log

# Ignore Documentation files
T4T_Requirements.markdown
